/* CSS Document */
@font-face {
        font-family: "Console";
        src: url("fonts/CPmono.ttf") format("truetype");
}
/*@font-face {
        font-family: "Con sole";
        src: url("fonts/CPmono.eot") format("opentype");
}*/

body {
	background-color: #500000;	
}

.copyright {
	color: #333333;
	font-size: 13px;
}


#console {
	border-style: solid;
	border-color: #ffffff;
	border-width: 5px;
	background-color:#500000; 
	height: 600px; 
	width: 1200px; 
	margin: 0 auto;
	overflow: auto;
	color: white;
}

#console p {
	color: white;
	display: none;
	font-size: 17px;
	font-family: "Times New Roman", Times, serif;
}

#pic {
	height: 400px;
	width: 800px;
}

.btn1{
	border-radius: 2px;
	border-style: inset;
	border-width: 2px;
	border-color: #000000;
	background-color: white;
	height:40px;
	width: 300px;

}

.btn2{
	border-radius: 2px;
	border-style: inset;
	border-width: 2px;
	border-color: #000000;
	background-color: white;
	height:40px;
	width: 300px;
}